<footer class="hidden-xs hidden-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h4><a href="/">js-montreal.org</a></h4>
        <p>Our goal is to bring the MTL JS development community together and promote the use and understanding of the language, inside and outside the browser.</p>
        <p>Powered by Gulp</p>
      </div>
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-4">
              <h4>Contact</h4>
              <ul class="list-unstyled contact">
                <li class="meetup"><a href="http://meetup.com/js-montreal">meetup.com</a></li>
                <li class="facebook"><a href="https://www.facebook.com/groups/253683934748003/">facebook group</a></li>
                <li class="linkedin"><a href="http://www.linkedin.com/groups?gid=2514289">js-montreal.org</a></li>
                <li class="twitter"><a href="http://www.twitter.com/jsmontreal">@jsmontreal</a></li>
                <li class="email"><a href="mailto:contact@js-montreal.org" target="_blank">Email us</a></li>
              </ul>
          </div>
          <div class="col-md-4">
              <h4>User Groups</h4>
              <ul class="list-unstyled">
                <li>
                  <a href="http://gtugmontreal.blogspot.ca">GDG Montreal</a>
                </li>
                <li>
                  <a href="http://www.montrealonrails.com/">montreal.rb</a>
                </li>
                <li>
                  <a href="http://www.phpquebec.org/">php quebec</a>
                </li>
                <li>
                  <a href="http://montrealpython.org/">mtl python</a>
                </li>
              </ul>
          </div>
          <div class="col-md-4">
              <h4>Special thanks to</h4>
              <ul class="list-unstyled">
                <li>
                  <a href="https://garemtl.com/en/"><img alt="La Gare" src="img/gare-sticky-blue.png" width="100"></a>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>