<h2>
  Location
  <br/>
  <small>
    La Gare: A beautiful collaborative workspace in the Mile End.
  </small>
</h2>
<div class="map hidden-sm hidden-xs">
  {% include "map.html" %}
</div>
<div class="row visible-xs visible-sm">
  <div class="col-md-12">
    <address class="well">
      La Gare
      <br/>
      <a href="https://goo.gl/maps/3KUZ1cBJemv">5333 Avenue Casgrain, Suite 102</a>
      <br/>
      Montreal, QC
    </address>
  </div>
</div>
<div class="row visible-xs visible-sm">
  <div class="small-register col-md-12">
    {% include "register.html" %}
  </div>
</div>