<div class="row">
  <div class="col-md-12">
    <h3>
    <a href="{{ speaker.url }}" target="_new">{{ speaker.name }}</a>
    <br>
    <small>{{ speaker.title }}</small>
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="synopsis">
      <a href="{{ speaker.url }}" target="_new">
        <img class="gravatar" src="{{ speaker.email|gravatar }}">
      </a>
      <p>{{ speaker.synopsis }} </p>
    </div>
    <div>
      <ul class="speaker-links list-unstyled">
        {% for link in speaker.links %}
        <li>
          <a href="{{ link.url }}" target="_new">{{ link.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>